<!DOCTYPE html>
<html>
<head>
  <title>Myhike</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>

</body>
</html>
