<h2>Create an Account</h2>
<form >
  <p>
    <label>Email</label>

  </p>
  <p>
    <label>Password</label>

  </p>
  <p>
    <label>Password Confirmation</label>

  </p>
  <p>
    <input type="submit" value="Sign Up!">
  </p>
</form>
