<h2>Create an Account</h2>
<form >
  <p>
    <label>Email</label>
     {{input value=model.email id="email" class="form-control"}}
  </p>
  <p>
    <label>Password</label>
     {{input type='password' value=model.password id="password" class="form-control"}}
  </p>
  <p>
    <label>Password Confirmation</label>
     {{input type='password' value=model.password_confirmation id="password_confirmation" class="form-control"}}
  </p>
  <p>
    <input type="submit" value="Sign Up!" {{action 'save'}}>
  </p>
</form>
