<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="main-nav list-unstyled">
        <li>{{#link-to 'index' class='navbar-brand'}}My Hike{{/link-to}}</li>
      </ul>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li>
            <button {{ action 'invalidateSession' }}>Logout</button>
          </li>
        {{else}}
          <li>
            {{#link-to 'login' class="dropdown-toggle sub-header"}}Login{{/link-to}}
          </li>
          <li>
            {{#link-to 'users.new'}}Register{{/link-to}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
{{outlet}}
</div>
