<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="main-nav list-unstyled">
        {{#link-to 'index' class='navbar-brand'}}My Hike{{/link-to}}
      </ul>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav sub-header">
        <li>
          {{#link-to 'index' class='sub-header'}}Hikes{{/link-to}}
        </li>
        <li>
          {{#link-to 'index' class='sub-header'}}Map{{/link-to}}
        </li>
        <li>
          {{#link-to 'index' class='sub-header'}}About{{/link-to}}
        </li>
        <li>
          {{#link-to 'index' class='sub-header'}}Contact{{/link-to}}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li>
            <button {{ action 'invalidateSession' }}>Logout</button>
          </li>
        {{else}}
          <li>
            {{#link-to 'login'}}Login{{/link-to}}
          </li>
          <li>
            {{#link-to 'users.new'}}Register{{/link-to}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
{{outlet}}
</div>
