<div class='video'>
  <video autoplay poster="backgroundVideo.MOV" id='bgvid' loop>
    <source src="backgroundVideo.MOV" type="video/webm">
    <source src="backgroundVideo.MOV" type="video/mp4">
  </video>
    <p>landing</p>
</div>
