<div class='video'>
  <video autoplay muted poster="backgroundVideo.MOV" id='bgvid' loop>
    <source src="backgroundVideo.MOV" type="video/webm">
    <source src="backgroundVideo.MOV" type="video/mp4">
  </video>
</div>

<h2 class='centerz'>Login to Your Account</h2>
<form {{action 'authenticate' on='submit'}}>
  <label for='identification'>Login</label>
  {{input id='indentification' class='form-control' placeholder='Enter Login' value=identification}}
  <label for='password'>Password</label>
  {{input id='password' class='form-control' placeholder='Enter Password' type='password' value=password}}
  <br>
  <button class='btn btn-success' type='submit'>Login</button>
</form>

{{outlet}}
