@font-face {
  font-family: nature;
  src: url(PlantsLetters.ttf);
}

body {
  background-color: darkgrey;
}


.ember-text-area {
  border-width: 0.7px !important;
  border-style: solid !important;
}

video {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  background: url('backgroundVideo.MOV') no-repeat;
  backgrond-size: cover;
  transition: 1s opacity;
}

h2, label {
  color: #458B00;
  text-shadow: 1.5px 1.5px #FFF;
}

label {
  font-size: 1.5em;
}


.navbar-brand {
  font-size: 5em;
  font-family: nature;
  text-shadow: 1.5px 1.5px #FFF;
}

.navbar-right {
  color: white;
  font-family: nature;
  font-size: 1.25em;
  text-shadow: 1px 1px #FFF;
}

.sub-header {
  font-family: nature;
  font-size: 1.25em;
  text-shadow: 1px 1px #FFF;
}

.navbar {
  padding-bottom: 13px;
  z-index: 100;
}

.video {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  padding: 0;
  padding-top: 90px;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  background: url('backgroundVideo.MOV') no-repeat;
  backgrond-size: cover;
}

.centerz {
  text-align: center;
}

.col-sm-3 {
  font-family: nature;
}

.search {
  font-family: nature;
}

.search-result-box {
  font-family: nature;
  position: absolute;
  color: #458B00;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: -23px;
  left: 40%;
  right: 60%;
  z-index: 100;
}

.search-result-box h4 {
  font-family: nature;
  color: #458B00;
  text-shadow: 1px 1px #FFF;
}

.search-result-box a {
  font-family: nature;
  color: #458B00;
}

.map-canvas {
  position: absolute;
  top: 77px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

dt,
dd { float: left; }

dt { clear: left; margin-right: 1rem; }
