.navbar-brand {
  font-size: 3em;
}

.navbar-right {
  color: white;
  font-size: 1.25em;
}

.sub-header {
  font-size: 1.25em;
}

.map-canvas {
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
