{{#each trail in this}}
  <hr>
  {{~#link-to 'trails.show' trail}}
  <p>  {{trail.name}} In: {{trail.location}} </p>
  {{~/link-to}}
  <hr>
{{/each}}
<hr>
{{#link-to 'trails.new'}}Add New Trail{{/link-to}}
<hr>
