{{~#link-to 'trails.show' this}}
  <p>{{this.name}}</p>
{{~/link-to}}
<dl>
  <dt>Location:</dt>
  <dd>{{this.location}}</dd>
  <dt>Latitude:</dt>
  <dd>{{lat}}</dd>
  <dt>Longitude:</dt>
  <dd>{{lng}}</dd>
</dl>
